@font-face {
  font-family: "Plus Jakarta Sans";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yw.woff2)
    format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yyygA.woff2)
    format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .burger::after,
  .burger::before {
    content: "";
    background-color: #222;
    display: block;
    height: 2px;
    width: 50%;
    margin: auto;
    position: relative;
    transition: transform 0.3s;
    z-index: 100;
  }

  .burger::after {
    top: -5px;
  }

  .burger::before {
    top: 5px;
  }

  .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
  }

  .burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
  }

  .underline-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ff7936;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  .underline-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .common::before,
  .common::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 178px;
    height: 102px;
    position: absolute;
    z-index: 1;
  }

  .video-container::before {
    background-image: url("./assets/Png/Color.png");
    top: -35px;
    left: 10px;
  }

  .video-container::after {
    background-image: url("./assets/Png/sound.png");
    bottom: -20px;
    right: 70px;
  }

  .col-2 {
    grid-column: 2/3;
  }

  .col-4 {
    grid-column: 2/3;
    grid-row: 2;
  }

  .box-shadow {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }

  .start-creating-box::before {
    background-image: url("./assets/Png/startcreating/star.png");
    left: 0;
    top: 2;
  }

  .start-creating-box::after {
    background-image: url("./assets/Png/startcreating/gamepad.png");
    left: 20px;
    bottom: 80px;
  }

  .start-creating-wrapper::before {
    background-image: url("./assets/Png/startcreating/media.png");
    right: 20px;
    top: 80px;
  }

  .start-creating-wrapper::after {
    background-image: url("./assets/Png/startcreating/star.png");
    right: 70px;
    bottom: 0;
  }

  .star::before {
    background-image: url("./assets/Png/startcreating/xstar.png");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }
}
